
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastro de Categorias</h2>

<script src="~/Areas/Admin/Scripts/Categoria/AppCategoria.js"></script>


<div id="mensagem">

</div>

<div ng-app="categoriaApp">
    <div ng-controller="Categoria">
        <div class="form-group">
            <label for="idNome" class="col-lg-2 control-label">
                Nome da Categoria
            </label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="idNome" ng-model="categoria.Nome" />
            </div>
        </div>

        <div class="form-group">
            <label for="idDescricao" class="col-lg-2 control-label">
                Descrição da Categoria
            </label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="idDescricao" ng-model="categoria.Descricao" />
            </div>
        </div>

        <div class="form-group">
            <label for="idSlug" class="col-lg-2 control-label">
                Slug da Categoria
            </label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="idSlug" ng-model="categoria.Slug" />
            </div>
        </div>

        <a href="#" class="btn btn-primary form-control" ng-click="AddCategoria(categoria)" ng-disabled="!categoria.Nome || !categoria.Descricao || !categoria.Slug"
           data-toggle="tooltip" title="Adicionar Produto">Adicionar Categoria</a>
    </div>
    <md-progress-circular>
</div>

@Html.Partial("_Loading")
