@model AccessCorp.GestaoCategoria.Model.FormularioViewModel

@{
    ViewBag.Title = "SubCategoria";
}

<h4>Clique em uma SubCategoria para exibir o <strong>Formulário</strong>.</h4>

<h3>Lista de SubCategoria.</h3>

@if (Model != null && Model.ListaSubCategoriaViewModel != null && Model.ListaSubCategoriaViewModel.Count > 0)
{
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.Label("Descricao da SubCategoria")
            </th>
            <th>
                @Html.Label("Slug da Categoria")
            </th>
        </tr>

        @foreach (var item in Model.ListaSubCategoriaViewModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.ActionLink(item.Slug, "Formulario", "Formulario", new { id = item.SubCategoriaId }, null)
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>Nenhum resultado foi encontrado</p>
}
