@model AccessCorp.GestaoCategoria.Model.SubCategoriaViewModel

@{
    ViewBag.Title = "SubCategoria";
}

@if (Model != null && Model.CamposViewModel.Count > 0)
{
    <h2>Formulario de @Model.Descricao</h2>

    foreach (var campo in Model.CamposViewModel)
    {
        @Html.Partial("_Campo.cshtml", campo)
    }
}
else
{
    <div class="form-group">
        Não há formulário para exibir. Favor entrar em contato com o administrador para cadastrar o formulário de : @Model.Descricao
    </div>
}
