
@{
    ViewBag.Title = "Index";
}

<h2>Sistema de Gestão de Categoria</h2>

<div>
    <p>
        Acesse o menu para cadastrar, editar, excluir e atualizar as categorias e subcategorias.
    </p>
</div>
